CCCCEEEE/MDM/datamodel/Movie_0.1.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:import namespace="http://www.w3.org/2001/XMLSchema"/>
<xsd:element name="Movie">
<xsd:complexType>
<xsd:all>
<xsd:element maxOccurs="1" minOccurs="1" name="id" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="name" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="price" type="xsd:string"/>
</xsd:all>
</xsd:complexType>
<xsd:unique name="Movie">
<xsd:selector xpath="."/>
<xsd:field xpath="id"/>
</xsd:unique>
</xsd:element>
</xsd:schema>
